body {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	color: #222;
	height: 300%;
}

a {
	display: block;
	font-size: 40px;
	border: 1px solid #333;
	text-decoration: none;
	color: #333;
}

a:hover {
	color: #111;
}

a:visited {
	color: #333;
}

.container, .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 500%;
	width: 100%;
}

.overlay {
	display: none;
}

.overlay.active {
	display: block;
	background-color: #333;
	z-index: 1;
	opacity: 0.8;
}

.dot {
	position: absolute;
	background-color: #3cf;
	border-radius: 100%;
	z-index: -1;
	opacity: 0.5;
}

.dot.active {
	z-index: 2;
	opacity: 1;
}

#point-one, #point-two, .dot {
	position: absolute;
	height: 140px;
	width: 140px;
}

#point-one, #one {
	top: 5%;
	left: 10%;
}

#point-two, #two {
	top: 70%;
	left: 80%;
}